#root {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container-card {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  border-bottom: 3px solid #00000044;
}
